
@{
    ViewBag.Title = "PACE Institute";
}
@using WritingDataIntoXMLFile.Models;
@model List<WritingDataIntoXMLFile.Models.CustomerModel>
<h2>PACE Language Institute - Excursion Costs</h2>
<a class="btn btn-primary" href="#" role="button">Show all</a>
<a class="btn btn-success" href="#" role="button" onclick="">Show Bray only</a>
<a class="btn btn-info" href="#" role="button">Show Dublin only</a>
<div class="table-responsive">
    <table class="table table-fixed table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th class="col-xs-2">Excursion<br />.</th>
                <th class="col-xs-1">Area<br />.</th>
                <th class="col-xs-2">Student Costs<br/>.</th>
                <th class="col-xs-1">Private Transport</th>
                <th class="col-xs-1">16 seat bus<br />.</th>
                <th class="col-xs-1">30 seat bus<br />.</th>
                <th class="col-xs-1">53 seat coach</th>
                <th style="width:80px">Leaders Free</th>
                <th style="width:80px">Leader Cost</th>
                <th class="col-xs-1">Website for more info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 190px; height: 57px"><a href="#" data-toggle="popover" title="@item.Information" data-content="Content" data-trigger="hover">@item.Title</a></td>
                    <td style="width: 94px; height: 57px">@item.Area</td>
                    <td class="pre-scrollable"style="width:190px; height: 57px; font-size:smaller; font-weight:bold">@item.StudentCost</td>
                    <td style="width: 95px; height: 57px">@item.Transport</td>
                    <td style="width: 95px; height: 57px"><div class="scrollable">@item.Transport16</div></td>
                    <td style="width: 95px; height: 57px"><div class="scrollable">@item.Transport30</div></td>
                    <td style="width: 95px; height: 57px"><div class="scrollable">@item.Transport53</div></td>
                    <td class="pre-scrollable" style="width: 80px; height: 57px; font-size:smaller">@item.LeaderFree</td>
                    <td style="width: 80px; height: 57px">@item.LeaderCost</td>
                    <td style="width: 95px; height: 57px"><a href="@item.Website" target="_blank">Website</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>



